<html>
<head>
<title>
Remove Student
</title>
</head>
<body>
<div class="header">
<div class="container">
<div style="float: left;"><button type="button" onclick="window.location.href='/facilitator'" class="btn btn-default navbar-btn">Back</button></div>
<h1>Add Student
</h1>
</div>
</div>


<div class = "create">
  <div class="container">

    <%= form_for(:student, url: facilitator_remove_student_path) do |f| %>
      <%= f.text_field :sid, :placeholder => "Study ID" %>
      <%= f.submit "Remove student", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>

<div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
        </div>
      </div>


<script language="javascript">
</script>
</body>
</html>
