
<div class= "header">
 <div class= "container-fluid">
   <div style="float: left;"><button type="button" onclick="window.location.href='/user-login'" class="btn btn-default navbar-btn">Admin/Facilitator</button></div>
     <h1>Junior Master Garderner Academy</h1>
 </div>
</div>


<div class="container">
 <div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
  <p> Big Start Button Goes Here </p>
  <a href="/student-login"> <img src='<%= asset_path("start.png") %>' alt="Mountain View"> </a>
  </div>
  <div class="col-xs-2">
  </div>
</div>
</div>

