
<div class= "header">
 <div class= "container">
   <div class="row">
     <div style="float: left;"><button type="button" onclick="window.location.href='/facilitator/login'" class="btn btn-default navbar-btn">Facilitator Login</button></div>
     <h1>Facilitator Login</h1>
     
   </div>
 </div>
</div>


<div class="container">
 <div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
  <p> Big Start Button Goes Here </p>
  <img src="http://i.imgur.com/9wDe7kC.jpg" alt="Mountain View">
  </div>
  <div class="col-md-2">
  </div>
</div>
</div>

