

<div class= "header">
 <div class= "container">

  <h1> Facilitator Page </h1>

 </div>
</div>

<div class= "button">
  <button type="button"><%= link_to "Add Student", '/facilitator/add-student' %></button>
</div>

<div class= "button">
  <button type="button"><%= link_to "Remove Student", '/facilitator/remove-student' %></button>
</div>