

<div class= "header">
 <div class= "container">

  <h1> Facilitator Page </h1>

 </div>
</div>

<div class= "container">
 <div class= "row">
  <div class= "col-xs-4">
<h2>Add a student</h2>
<%= link_to "Add Student", '/facilitator/add-student', class: 'btn btn-success' %>
<h2>Remove a student</h2>
  <%= link_to "Remove Student", '/facilitator/remove-student', class: 'btn btn-danger' %>
  
  </div>
 </div
</div>